/* enlighten theme */

/* nth-list */

ul[class^="$"][class~="plts-nav"][class~="enlighten"] li > a {
  background: rgb(40,40,40);
  color: white;
  box-shadow: 0 0 3px rgb(80,80,80); text-decoration: none;
}
ul[class^="$"][class~="plts-nav"][class~="enlighten"] li:nth-child(even) > a,
ul[class^="$"][class~="plts-nav"][class~="enlighten"] li:nth-child(even) > a::before { background: rgb(50,50,50); }

/* all items in ul pointer */
ul[class^="$"][class~="plts-nav"][class~="enlighten"] li > a:hover + ul > li a { box-shadow: 0 0 3px rgb(40,40,40); }

/* item pointer */

ul[class^="$"][class~="plts-nav"][class~="enlighten"] li > a:hover 
{ background: rgb(20,20,20); color: white; text-shadow: 0 0 12px white; }

ul[class^="$"][class~="plts-nav"][class~="enlighten"] li > a::before {
  background: rgb(40,40,40);
}

ul[class^="$"][class~="plts-nav"][class~="enlighten"] li:hover > a::before {
  background: rgb(40,40,40);
}

ul[class^="$"][class~="plts-nav"][class~="enlighten"] li:nth-child(even) > a::before { background: rgb(50,50,50) !important; }
ul[class^="$"][class~="plts-nav"][class~="enlighten"] li > a:hover::before { background: rgb(20,20,20) !important; }

/* 
NEXT UPDATE

    background-image:-webkit-gradient(linear,left 0,left 100%,from(rgb(50,50,50)),to(rgb(40,40,40))) !important;
    background-image:-webkit-linear-gradient(top,rgb(50,50,50),0%,rgb(40,40,40),100%);
    background-image:-moz-linear-gradient(top,rgb(50,50,50) 0,rgb(40,40,40) 100%);
    background-image: linear-gradient(to bottom,rgb(50,50,50) 0,rgb(40,40,40) 100%);
    background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff323232',endColorstr='#ff282828',GradientType=0)

*/